@import "IRANSans.css";
@tailwind base;
@tailwind components;
@tailwind utilities;
body,
html {
  font-family: IRANSans !important;
  margin: 0;
  direction: rtl;
}

.no-select {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.no-select:focus {
  outline: none !important;
}

.bottom-navbar {
  bottom: calc(env(safe-area-inset-bottom) + 1rem);
}

.otp-input {
  color: "black";
  padding: "12px";
  width: "3rem";
  border: "none";
  border-bottom: "1px solid";
}

.ltr {
  direction: ltr;
}

.tab-active {
  color: white !important;
}
